# **Código de ejemplo para aplicar preprocesamiento al dataset "apartments"**

In [29]:
import pandas as pd

Cargar el contenido de apartments a df

In [51]:
df = pd.read_csv('apartments.csv', encoding='cp1252')

C:\Users\Diws\AppData\Local\Temp\ipykernel_1164\103332028.py:1: DtypeWarning: Columns (12,15) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('apartments.csv', encoding='cp1252')

1. Inspeccionar el dataset
Lo primero es revisar la estructura de los datos, los nombres de las columnas, y los tipos de datos, además de buscar valores faltantes.

In [52]:
# Mostrar las primeras filas del dataset para ver la estructura
print("Primeras filas del dataset:")
print(df.head())

# Verificar los tipos de datos y la cantidad de valores faltantes
print("Información general del dataset:")
print(df.info())

# Revisar las estadísticas generales del dataset
print("Estadísticas generales del dataset:")
print(df.describe())

# Verificar valores faltantes en cada columna
print("Valores faltantes por columna:")
print(df.isnull().sum())

Primeras filas del dataset:
           id                category                            title  \
0  5668640009  housing/rent/apartment       One BR 507 & 509 Esplanade
1  5668639818  housing/rent/apartment      Three BR 146 Lochview Drive
2  5668639686  housing/rent/apartment  Three BR 3101 Morningside Drive
3  5668639659  housing/rent/apartment            Two BR 209 Aegean Way
4  5668639374  housing/rent/apartment         One BR 4805 Marquette NE

                                                body amenities  bathrooms  \
0  This unit is located at 507 & 509 Esplanade, R...       NaN        1.0
1  This unit is located at 146 Lochview Drive, Ne...       NaN        1.5
2  This unit is located at 3101 Morningside Drive...       NaN        2.0
3  This unit is located at 209 Aegean Way, Vacavi...       NaN        1.0
4  This unit is located at 4805 Marquette NE, Alb...       NaN        1.0

   bedrooms currency fee  has_photo  ... price_display  price_type  \
0       1.0      USD  No  Thumbnail  ...          2195     Monthly
1       3.0      USD  No  Thumbnail  ...          1250     Monthly
2       3.0      USD  No  Thumbnail  ...          1395     Monthly
3       2.0      USD  No  Thumbnail  ...          1600     Monthly
4       1.0      USD  No  Thumbnail  ...           975     Monthly

  square_feet              address       cityname state latitude longitude  \
0       542.0   507  509 Esplanade  Redondo Beach    CA  33.8520 -118.3759
1      1500.0      146 Lochview Dr   Newport News    VA  37.0867  -76.4941
2      1650.0  3101 Morningside Dr        Raleigh    NC  35.8230  -78.6438
3       820.0       209 Aegean Way      Vacaville    CA  38.3622 -121.9712
4       624.0    4805 Marquette NE    Albuquerque    NM  35.1038 -106.6110

      source          time
0  RentLingo  1.577360e+09
1  RentLingo  1.577360e+09
2  RentLingo  1.577360e+09
3  RentLingo  1.577360e+09
4  RentLingo  1.577360e+09

[5 rows x 22 columns]
Información general del dataset:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 22 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   id             100000 non-null  int64
 1   category       100000 non-null  object
 2   title          100000 non-null  object
 3   body           100000 non-null  object
 4   amenities      83903 non-null   object
 5   bathrooms      99930 non-null   float64
 6   bedrooms       99869 non-null   float64
 7   currency       99993 non-null   object
 8   fee            99993 non-null   object
 9   has_photo      99993 non-null   object
 10  pets_allowed   39255 non-null   object
 11  price          99992 non-null   float64
 12  price_display  99992 non-null   object
 13  price_type     99993 non-null   object
 14  square_feet    99993 non-null   float64
 15  address        7943 non-null    object
 16  cityname       99691 non-null   object
 17  state          99691 non-null   object
 18  latitude       99968 non-null   float64
 19  longitude      99968 non-null   float64
 20  source         99993 non-null   object
 21  time           99993 non-null   float64
dtypes: float64(7), int64(1), object(14)
memory usage: 16.8+ MB
None
Estadísticas generales del dataset:
                 id     bathrooms      bedrooms         price   square_feet  \
count  1.000000e+05  99930.000000  99869.000000  99992.000000  99993.000000
mean   5.358815e+09      1.445372      1.727934   1527.183765    956.423830
std    1.846077e+08      0.546878      0.748924    903.252861    417.098512
min    5.121046e+09      1.000000      0.000000    100.000000    101.000000
25%    5.197954e+09      1.000000      1.000000   1014.000000    729.000000
50%    5.508674e+09      1.000000      2.000000   1350.000000    900.000000
75%    5.509009e+09      2.000000      2.000000   1795.000000   1115.000000
max    5.669439e+09      9.000000      9.000000  52500.000000  50000.000000

           latitude     longitude          time
count  99968.000000  99968.000000  9.999300e+04
mean      36.950051    -91.554563  1.559695e+09
std        4.599818     15.819821  1.104320e+07
min       19.573800   -159.369800  1.544174e+09
25%       33.749600   -104.791900  1.550832e+09
50%       37.231000    -84.551900  1.568745e+09
75%       39.954200    -77.576700  1.568767e+09
max       64.833200    -68.778800  1.577391e+09
Valores faltantes por columna:
id                   0
category             0
title                0
body                 0
amenities        16097
bathrooms           70
bedrooms           131
currency             7
fee                  7
has_photo            7
pets_allowed     60745
price                8
price_display        8
price_type           7
square_feet          7
address          92057
cityname           309
state              309
latitude            32
longitude           32
source               7
time                 7
dtype: int64

2. Manejo de valores faltantes
En este paso, buscamos las columnas que contienen valores NaN y decidimos cómo manejarlos. Puedes elegir entre eliminar las filas o columnas que contienen demasiados valores faltantes, o rellenar estos valores con un valor apropiado (como la media o una categoría por defecto).

In [53]:
# Verificar cuántos valores faltantes hay por columna
#print(df.isnull().sum())

# Ejemplo: Rellenar valores faltantes en la columna "amenities" con "No disponible"
#df['amenities'].fillna('No disponible', inplace=True)
df['amenities'] = df['amenities'].fillna('No disponible')
# Eliminar filas con valores faltantes en columnas críticas como "price_display"
df.dropna(subset=['price_display'], inplace=True)

#Verificamos otra vez los valores faltantes para ambas columnas
print("Valores faltantes por columna:")
print(df.isnull().sum())

Valores faltantes por columna:
id                   0
category             0
title                0
body                 0
amenities            0
bathrooms           63
bedrooms           124
currency             0
fee                  0
has_photo            0
pets_allowed     60738
price                0
price_display        0
price_type           0
square_feet          0
address          92050
cityname           302
state              302
latitude            25
longitude           25
source               0
time                 0
dtype: int64

3. Conversión de tipos de datos
Asegúrate de que las columnas numéricas, como bathrooms, bedrooms, y price_display, estén en el formato correcto (por ejemplo, float o int). Algunas columnas pueden tener mezclas de tipos de datos que debes corregir.

In [54]:
# Convertir la columna 'price_display' y 'square_feet' a numérico, manejando errores
df['price_display'] = pd.to_numeric(df['price_display'], errors='coerce')
df['square_feet'] = pd.to_numeric(df['square_feet'], errors='coerce')

#Imprimimos los tipos de datos de las columnas
print("Tipos de datos de las columnas:")
print(df.dtypes)

Tipos de datos de las columnas:
id                 int64
category          object
title             object
body              object
amenities         object
bathrooms        float64
bedrooms         float64
currency          object
fee               object
has_photo         object
pets_allowed      object
price            float64
price_display    float64
price_type        object
square_feet      float64
address           object
cityname          object
state             object
latitude         float64
longitude        float64
source            object
time             float64
dtype: object

4. Codificación de variables categóricas
Las columnas categóricas, como cityname, state, currency, pueden ser convertidas en variables numéricas mediante la codificación one-hot o label encoding para que los algoritmos de machine learning puedan manejarlas.

In [55]:
# Ejemplo de codificación one-hot de la columna 'state'
df = pd.get_dummies(df, columns=['state', 'currency'], drop_first=True)

# Ahora veremos que el dataset elimino las columnas 'state' y 'currency' y agrego nuevas columnas con la codificación one-hot
print("Columnas del dataset:")
print(df.columns)

Columnas del dataset:
Index(['id', 'category', 'title', 'body', 'amenities', 'bathrooms', 'bedrooms',
       'fee', 'has_photo', 'pets_allowed', 'price', 'price_display',
       'price_type', 'square_feet', 'address', 'cityname', 'latitude',
       'longitude', 'source', 'time', 'state_AL', 'state_AR', 'state_AZ',
       'state_CA', 'state_CO', 'state_CT', 'state_DC', 'state_DE', 'state_FL',
       'state_GA', 'state_HI', 'state_IA', 'state_ID', 'state_IL', 'state_IN',
       'state_KS', 'state_KY', 'state_LA', 'state_MA', 'state_MD', 'state_ME',
       'state_MI', 'state_MN', 'state_MO', 'state_MS', 'state_MT', 'state_NC',
       'state_ND', 'state_NE', 'state_NH', 'state_NJ', 'state_NM', 'state_NV',
       'state_NY', 'state_OH', 'state_OK', 'state_OR', 'state_PA', 'state_RI',
       'state_SC', 'state_SD', 'state_TN', 'state_TX', 'state_UT', 'state_VA',
       'state_VT', 'state_WA', 'state_WI', 'state_WV', 'state_WY'],
      dtype='object')

5. Manejo de outliers (valores atípicos)
Es importante detectar y manejar los valores atípicos, especialmente en columnas numéricas como price_display o square_feet, ya que pueden distorsionar los resultados. Puedes usar métodos como el Z-score o el rango intercuartílico (IQR) para detectarlos.

In [56]:
print("Valores en la columna 'price_display', antes del filtrado:")
print(df['price_display'])
# Detectar outliers usando el rango intercuartílico
Q1 = df['price_display'].quantile(0.25)
Q3 = df['price_display'].quantile(0.75)
IQR = Q3 - Q1
# Filtrar valores que están fuera de 1.5 veces el IQR
df = df[~((df['price_display'] < (Q1 - 1.5 * IQR)) | (df['price_display'] > (Q3 + 1.5 * IQR)))]

# Verificar valores atípicos en la columna 'price_display'
print("Valores en la columna 'price_display', despues del filtrado:")
print(df['price_display'])

Valores en la columna 'price_display', antes del filtrado:
0        2195.0
1        1250.0
2        1395.0
3        1600.0
4         975.0
          ...
99995     780.0
99996     813.0
99997    1325.0
99998     931.0
99999    1595.0
Name: price_display, Length: 99992, dtype: float64
Valores en la columna 'price_display', despues del filtrado:
0        2195.0
1        1250.0
2        1395.0
3        1600.0
4         975.0
          ...
99995     780.0
99996     813.0
99997    1325.0
99998     931.0
99999    1595.0
Name: price_display, Length: 95280, dtype: float64

6. Normalización o estandarización
Si vas a usar algoritmos que son sensibles a la escala de los datos, como regresión logística o redes neuronales, es importante normalizar las columnas numéricas como price_display y square_feet.

In [11]:
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
df[['price_display', 'square_feet']] = scaler.fit_transform(df[['price_display', 'square_feet']])

# Verificar los valores normalizados
print("Valores normalizados:")
print(df[['price_display', 'square_feet']])

7. Manejo de la columna de tiempo
La columna time puede ser convertida a un formato de fecha y hora más útil, además de extraer características como el año, mes o día de la semana.

In [12]:
# Convertir la columna 'time' a formato de fecha
df['time'] = pd.to_datetime(df['time'], unit='s')

# Extraer año, mes y día de la semana
df['year'] = df['time'].dt.year
df['month'] = df['time'].dt.month
df['day_of_week'] = df['time'].dt.dayofweek

8. Eliminar columnas irrelevantes
Algunas columnas no serán necesarias para el análisis, como source. Puedes eliminarlas para reducir el ruido en los datos.

In [13]:
# Eliminar columnas irrelevantes
df.drop(['source'], axis=1, inplace=True)

9. Validar el dataset final
Realiza una validación final para asegurarte de que no quedan valores faltantes, que los tipos de datos son correctos, y que los datos están listos para el análisis.

In [14]:
# Verificar nuevamente la estructura final
print(df.info())

# Comprobar si hay valores faltantes después de los cambios
print(df.isnull().sum())

<class 'pandas.core.frame.DataFrame'>
Index: 95280 entries, 0 to 99999
Data columns (total 72 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             95280 non-null  int64
 1   category       95280 non-null  object
 2   title          95280 non-null  object
 3   body           95280 non-null  object
 4   amenities      95280 non-null  object
 5   bathrooms      95221 non-null  float64
 6   bedrooms       95160 non-null  float64
 7   fee            95280 non-null  object
 8   has_photo      95280 non-null  object
 9   pets_allowed   37785 non-null  object
 10  price          95280 non-null  float64
 11  price_display  95248 non-null  float64
 12  price_type     95280 non-null  object
 13  square_feet    95280 non-null  float64
 14  address        7475 non-null   object
 15  cityname       95047 non-null  object
 16  latitude       95255 non-null  float64
 17  longitude      95255 non-null  float64
 18  time           95280 non-null  datetime64[ns]
 19  state_AL       95280 non-null  bool
 20  state_AR       95280 non-null  bool
 21  state_AZ       95280 non-null  bool
 22  state_CA       95280 non-null  bool
 23  state_CO       95280 non-null  bool
 24  state_CT       95280 non-null  bool
 25  state_DC       95280 non-null  bool
 26  state_DE       95280 non-null  bool
 27  state_FL       95280 non-null  bool
 28  state_GA       95280 non-null  bool
 29  state_HI       95280 non-null  bool
 30  state_IA       95280 non-null  bool
 31  state_ID       95280 non-null  bool
 32  state_IL       95280 non-null  bool
 33  state_IN       95280 non-null  bool
 34  state_KS       95280 non-null  bool
 35  state_KY       95280 non-null  bool
 36  state_LA       95280 non-null  bool
 37  state_MA       95280 non-null  bool
 38  state_MD       95280 non-null  bool
 39  state_ME       95280 non-null  bool
 40  state_MI       95280 non-null  bool
 41  state_MN       95280 non-null  bool
 42  state_MO       95280 non-null  bool
 43  state_MS       95280 non-null  bool
 44  state_MT       95280 non-null  bool
 45  state_NC       95280 non-null  bool
 46  state_ND       95280 non-null  bool
 47  state_NE       95280 non-null  bool
 48  state_NH       95280 non-null  bool
 49  state_NJ       95280 non-null  bool
 50  state_NM       95280 non-null  bool
 51  state_NV       95280 non-null  bool
 52  state_NY       95280 non-null  bool
 53  state_OH       95280 non-null  bool
 54  state_OK       95280 non-null  bool
 55  state_OR       95280 non-null  bool
 56  state_PA       95280 non-null  bool
 57  state_RI       95280 non-null  bool
 58  state_SC       95280 non-null  bool
 59  state_SD       95280 non-null  bool
 60  state_TN       95280 non-null  bool
 61  state_TX       95280 non-null  bool
 62  state_UT       95280 non-null  bool
 63  state_VA       95280 non-null  bool
 64  state_VT       95280 non-null  bool
 65  state_WA       95280 non-null  bool
 66  state_WI       95280 non-null  bool
 67  state_WV       95280 non-null  bool
 68  state_WY       95280 non-null  bool
 69  year           95280 non-null  int32
 70  month          95280 non-null  int32
 71  day_of_week    95280 non-null  int32
dtypes: bool(50), datetime64[ns](1), float64(7), int32(3), int64(1), object(10)
memory usage: 20.2+ MB
None
id             0
category       0
title          0
body           0
amenities      0
              ..
state_WV       0
state_WY       0
year           0
month          0
day_of_week    0
Length: 72, dtype: int64